<div class="header">
  <div class="container">
    <div class="logo">
      <h1><a href=""><img src="./assets/img/logo_header.png" alt=""></a></h1>
    </div>
    <div class="user">
      <div class="user-detail" (click)="showUserAction()">
        <!-- <img src="./assets/avatar.png" alt=""> -->
        <span class="user-acc" (click)="logout()">Log out <i class="ion-power"></i></span>
        
      </div>
      <!-- <div class="user-action" *ngIf="showAction">
        <ul>
          <li (click)="logout()">Log out <i class="ion-power"></i></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>