<aside>
  <div class="aside-header">
    <h2>Menu</h2>
  </div>
  <div class="aside-content">
    <ul>
      <li>
        <a routerLink="/reports" routerLinkActive="active">
          <i class="fa fa-comment" aria-hidden="true"></i>Reports
        </a>
      </li>
      <li>
        <a routerLink="/agents" routerLinkActive="active">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>Agents Management
        </a>
      </li>
      <li><a routerLink="/pupils" routerLinkActive="active">
        <i class="fa fa-address-card" aria-hidden="true"></i>Pupils Management</a>
      </li>
      <li><a routerLink="/code" routerLinkActive="active">
        <i class="fa fa-barcode" aria-hidden="true"></i>Master Code</a>
      </li>
      <li><a routerLink="/qrformat" routerLinkActive="active">
        <i class="fa fa-qrcode" aria-hidden="true"></i>QR Code Text</a>
      </li>
      <li><a routerLink="/setting" routerLinkActive="active">
        <i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
      </li>
    </ul>
  </div>
</aside>