[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
jsonschema = "*"
python-dotenv = "*"
pylint = "*"
flask-script = "*"
flask-cli = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9.12"
